.register{
    margin-right: auto;
    margin-left: auto;
}

.register .page-container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.page-container .register-heading{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.page-container .user-data-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-data-input input{
    display: block;
    width: 100%;
    height: 47px;
    margin-bottom: 14px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    color: #acacac;
    letter-spacing: 0.02em;
    font-size: 18px;
}

.page-container .submit-button{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.submit-button button{
    /* wrap */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    letter-spacing: normal;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 35px auto 0;

    /* btn */
    width: 45%;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0;
    cursor: pointer;
    user-select: none;

    border: 1px solid transparent;
    color: white;
    background: black;

    transition: color, background-color 500ms ease;
}

.submit-button button:hover{
    color: black;
    background: white;
    border-color: black;
}

/*Error*/
.user-data-input div {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.user-data-input div p{
    font-size: 12px;
    color: red;
    margin-top: -10px;
}

.user-data-input .error::placeholder{
    color: red;
}

.page-container .general-error {
    width: 30%;
    border: 1px dashed red;
    font-size: 16px;
    color: #830000;
    background: #fa8282;
    padding: 5px;
    margin: 10px auto 20px;
    text-align: center;
}